
/* 
    Created on : 16/08/2016, 10:35:54 AM
    Author     : Ing.Douglas
*/

[readonly]{
    background-color: rgb(250, 250, 250);
    font-size: 14px;
    font-family: tahoma;
    margin-left: 3px;
    margin-right: 3px;
}
.ajuste{
    display: none;
}
.lotes{
    font-size: 16px;
    font-family: arial;
    text-align: center;
    height: 30px;    
}
table label{
    font-size: 16px
}
#tabs .ui-tabs-nav{
    margin: 0;
    padding: 0;
}

#area_trab input[type=text]{
    color:black;
    font-family: tahoma;
    font-size: 20px;
    font-weight: bolder
}
#area_trab input[type=button]{
    color:black;
    font-family: tahoma;
    font-size: 20px;
    font-weight: bolder;
    margin: 0 0 0 -4px;
    padding: 0 4px 0 4px;
}
.selected{
    background-color:  #FFA500;
    color:black;
    font-weight: bolder;
}
.selected .suc_span::after{
    content: url("../img/l_arrow.png");
    display: block;
    margin: -20px -150% 0 0;
    z-index: 100;
}
.passed .suc_span::after{
    content: url("../img/l_arrow.png");
    display: block;
    margin: 20px -100% 20px 65px;
    z-index: 100;
    position: absolute;
}
.input_err{
    border:solid red 1px;
}
#config input[type="checkbox"] {
    transform: scale(1.5);
}
#config  select,#config option, #config label{
    font-size: 20px;
}

#fp {
  transform: scale(2.0);
}
.cm_mts{
    font-size: 12px;
    font-weight: normal;
}
.tabla_stock_comprometido{ 
    border-collapse: collapse;
    border:solid gray 1px;    
}
.tabla_stock_comprometido td{
    margin: 0 4px;
    padding:3px; 
}   

#politicas_sucursales{     
    background-color: #ffffcc;
    border-radius:  4px 4px 0 0;
    position: absolute;
    margin-top:-35px;   
    margin-left:57%;
    border:solid olive 1px;
    height: 38px;
    padding:2px 4px 0 4px;
}
#pol_x_suc th, td{
    font-size: 13px;
    padding-left:4px;
    padding-right:4px;   
} 

.priority_msg{
    text-align: right;
    margin-right: 20px; 
}

.Tubo{
   background-color: green;
   color:white;
}

.verif_button{
    margin-top: 10px;
    font-size: 18px;
    width: 100px;
    font-family: Arial;
    font-weight: bolder;
}
.passw{
    font-size: 18px;
    height: 30px;
}

.hijo{
    cursor: pointer;
}