
/* 
    Created on : 29/04/2015, 07:38:11 AM
    Author     : Ing.Douglas
*/
@page{    
    size: A4;
    margin: 0 !important;
}
@media print {
    .config, div#printInformation{
        display: none;
    } 
    .noPrint{
        display: none;
    }
}

*{
    font-family: "Times New Roman", Georgia, Serif;
}
.tabla{
    width: 100%;
    margin: 0;
    padding: 0;
    border:0;
    border-collapse: collapse;
}
.fila{
    font-size:8px;
}

.sub{
    border-style: groove;
    border-width: 0px 0px 0px 0px;
    font-size:8px;
    margin: 0;
    padding: 0;    
}


.marco{
    border:solid gray 0px;
}
.curve{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border:solid 1px;
    border-color: black black black black;
    margin:0;
    padding:0;
}
.curveb{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border:solid 1px;
    border-color: gray black black black;     
}
label{
    font-size:8px;
    //font-family: serif;
}

.cab_det{
    font-size:7px;
    //font-family:sans-serif;
}
.der_ab{
    border-style:solid;
    border-width: 0px 1px 1px 0px;      
}
.der{
    border-style:solid;
    border-width: 0px 1px 0px 0px;
}
.ab{
    border-style:solid;
    border-width: 0px 0px 1px 0px;
}
.item_num{
    text-align:right;
    padding-right:3px; 
    border-style:solid;
    border-width: 0px 1px 0px 0px;
}
.item_num_vacio{
    text-align:right;
    padding-right:3px; 
    border-style:solid;
    border-width: 0px 0px 0px 0px;
}
.item{
    text-align:left;
    padding-left:3px;
    font-size:8px;
    border-style:solid;
    border-width: 0px 1px 0px 0px;
}
.subtotal{
    border-style:solid;
    border-width: 1px 1px 1px 0px;
    height:24px;
    font-size: 8px
}
.fila_total{
    height: 28px;    
    border-style:solid;
    border-width: 0px 0px 1px 0px;
    padding-left: 2px;
    font-size: 8px;
    white-space: nowrap;
    overflow: hidden;
}
.arrow{
    /*! display:none; */
    cursor:pointer;
}
.cond_venta{
    border:solid 1px;
    font-weight: bolder;
    font-family: tahoma;
}
.total_rec{
    float:right ;
    margin:2px; 
    font-weight:bolder;
    -moz-border-radius: 3px 3px 3px 3px;
    width: 9em; font-size: .7em; 
    line-height: 2;
    border-style:solid;
    border-width: 1px 1px 1px 1px;
    text-align:right;
    white-space: nowrap;
    overflow: hidden;    
}
div.config{
    text-align: center;
    width: 100%;
    border: solid black 0px;
}
div.config input{
    vertical-align: top;
    margin: 5px;
    text-align: center;
    border: none;
}
div#printInformation{
    position: absolute;
    background-color: beige;
    top: 47px;
    left: 15px;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
input#saveAll{
    background-image: url("../img/save-mini.png");
    background-repeat: no-repeat;
    background-position: center;   
    vertical-align: top;
    font-size: 0;
    margin-left: 5px;
    height: 20px;
    width: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}