
/* 
    Created on : 26/02/2016, 11:28:08 AM
    Author     : Ing.Douglas
*/
[readonly]{
    background-color: rgb(250, 250, 250);
    font-size: 14px;
    font-family: tahoma;
    margin-left: 3px;
    margin-right: 3px;
}
.ajuste{
    display: none;
}
span#warning{
    position: relative;
}
span#warning table{
    position: absolute;
    background-color: white;
    border-collapse: collapse;
    top: 100%;
    right: 110%;
    display: none;
}
span#warning:hover{
    cursor: pointer;
}
span#warning img:hover + table{
    display: block;
}
span#warning table *{
    border: 1px solid black;
    padding: 0 1px;
}
 